<li class="autocomplete-item">
    <a href="#">
        <img src="<%=this.item.image_url%>" alt="img" height="40" width="40"/>
        <b><%=this.item.name%></b>
        <br/>
        <span><%=this.item.price%>$</span>
    </a>
    <div class="clear"></div>
</li>