<div id="breadCrumb0" class="breadCrumb module">
	<ul>
 		<% for (var i = 0; i < this.data.length; i++) { %>
 			<li><a href="<%=this.data[i].url%>"><%= this.data[i].refname %></a></li>
 		<% } %>
	</ul>
</div>