<form id='languages'action=''><select id='l_languages'><%= this.each(function(index, item) { %>
                        <option value='<%= item.id %>'><%= item.name %></option>
                   <%= })%>
</select></form>