<span id='welcome'>Bienvenido <%= this.username %></span>| <span id='settings'><a href="#users/settings">Settings</a><span/>  | <span id='sign_out'><a href="/">Sign out</a><span/> | <a href="/languages">English ∆</a>
