<div class="login-container">
    <form action='/' class='login-form' method='post'>
        <p class="first">
            <input type='text' id='username' value='Username' class="input soft"/>
        </p>
        <p>
            <input type='text' id='password' value='Password' class="input soft"/>
            <input type='password' id='pass' class="input"/>
        </p>
        <input type='button' id='login_submit' value="Login"/>
    </form>
</div>