<div>
<form action='/' class='login-form' method='post'>
    <input type='text' id='username' value='Usuario'/>
    <input type='text' id='password' value='Contraseña'/>
    <input type='password' id='pass'/>
    <input type='button' id='login_submit' value="login"/>
</form>
</div>