<div class="login-container">
    <form action='/' class='login-form' method='post'>
        <p class="first">
            <input type='text' id='username' value='<%= $('sign_in_qtip username',Qck.locale[current_language]).text() %>' class="input soft"/>
        </p>
        <p>
            <input type='text' id='password' value='<%= $('sign_in_qtip password',Qck.locale[current_language]).text() %>' class="input soft"/>
            <input type='password' id='pass' class="input"/>
        </p>
        <input type='button' id='login_submit' value="<%= $('sign_in_qtip log_button',Qck.locale[current_language]).text() %>"/>
    </form>
</div>