<div class="product_list">
    <div class="header">
        <div class="filter">
            <div id="radio" class="filter-sel">

                <input type="radio" id="name_asc" name="radio2" checked="checked"/><label id='name_asc_label' for="name_asc">Ascending</label>
                <input type="radio" id="name_desc" name="radio2"/><label id='name_desc_label' for="name_desc">Descending</label>
            </div>
            <div id="radio2" class="filter-sel-type">
                <span id="filter">Order By:</span>
                <input type="radio" id="filter_name" name="radio" checked="checked"/><label id='filter_name_label' for="filter_name">Name</label>
                <input type="radio" id="filter_rank" name="radio" /><label id='filter_rank_label' for="filter_rank">Rank</label>
                <input type="radio" id="filter_price" name="radio"/><label id='filter_price_label' for="filter_price">Price</label>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Pagination space -->
    </div>
    <div class="content">
        <div class="items">
        <% for (var i = 0; i < this.products.length; i++) { %>
            <%= $.View('views/product_item.ejs', {product: this.products[i], index: i}) %>
        <% } %>
        </div>
    </div>
    <div class="footer">
        <!-- Pagination space -->
    </div>
</div>