<div class="product_list">
    <div class="header">
        <% if (this.title) { %>
        <div class="title">
            <h2>
              <%= this.title %>
            </h2>
        </div>
        <% } %>
        <div class="filter">
            <div id="filter" class="filter-order-text filter-text">
                Order:
            </div>
            <div id="radio" class="filter-sel">
                <input type="radio" id="name_asc" name="radio" checked="checked"/><label id='name_asc_label' for="name_asc">Ascending</label>
                <input type="radio" id="name_desc" name="radio"/><label id='name_desc_label' for="name_desc">Descending</label>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Pagination space -->
    </div>
    <div class="content">
        <div class="items">
        <% for (var i = 0; i < this.products.length; i++) { %>
            <%= $.View('views/product_item.ejs', {product: this.products[i], index: i}) %>
        <% } %>
        </div>
    </div>
    <div class="footer">
        <!-- Pagination space -->
    </div>
</div>