<div class="product_list">
    <div class="header">
        <% if (this.title) { %>
        <div class="title">
            <h2>
              <%= this.title %>
            </h2>
        </div>
        <% } %>
        <div class="filter">
            <a href="#">Activate Filters</a>
        </div>
        <div class="clear"></div>
        <!-- Pagination space -->
    </div>
    <div class="content">
        <div class="items">
        <% for (var i = 0; i < this.products.length; i++) { %>
            <%= $.View('views/product_item.ejs', {product: this.products[i], index: i}) %>
        <% } %>
        </div>
    </div>
    <div class="footer">
        <!-- Pagination space -->
    </div>
</div>