<div class="form box">
    <h3 class="update-username-title">Actualizar Usuario</h3>

    <form action="/" method="post">
        <div class="form_item">
            <span class="label update-name-label">Name:</span>
            <input type="text" id="up-name" name="name" class="update-name-label input"/>
        </div>
        <div class="form_item">
            <span class="label update-email-label">Email:</span>
            <input type="text" id="up-email" name="email" class="update-email-label input"/>
        </div>
        <div class="form_item">
            <span class="label update-birth-date-label">Birth date:</span>
            <select id="day_drop_down">
            </select>
            <select id="month_drop_down">
            </select>
            <select id="year_drop_down">
            </select>
        </div>
        <div class="form_item">
            <input type="button" value="Submit" class="update-button-label form_button"/>
        </div>
    </form>
</div>