<div class="form box">
    <h2 class="settings-username-title">User Panel</h2>

    <div class="settings-content">
        <div class="bordered content">
            <h3>Address' List</h3>
            <ul class="address-list list">
                <li>
                    <a href="#users/create_address" class='create-address-link'>Create Address</a>
                </li>
            </ul>
        </div>
        <div class="bordered content">
            <h3>Order List</h3>
            <ul class="order-list list">
                <li>
                    <a href="#" class='create-order-link'>Create New Order</a>
                </li>
            </ul>
        </div>
        <div class="bordered content">
            <h3>Site theme</h3>
            <ul class="color-list list">
                <li class="color-blue">Blue</li>
                <li class="color-red">Red</li>
                <li class="color-green">Green</li>
            </ul>
        </div>

        <div class="bordered content">
            <h3>Password Change</h3>

            <form action="/" method="post">
                <div class="form_item">
                    <span class="label panel-old-password-label">Old Password:</span>
                    <input type="password" id="panel-password" name="password" class="input"/>
                </div>
                <div class="form_item">
                    <span class="label panel-new-password-label">New Password:</span>
                    <input type="password" id="panel-password2" name="password" class="input"/>
                </div>
                <div class="form_item">
                    <input type="button" value="Change Password" class="change-pass-button form_button"/>
                </div>
            </form>
        </div>
    </div>
</div>