/* @override http://localhost/~cristian/hci/stylesheets/default.css?1316490955 */

/* @override 
	http://localhost/stylesheets/default.css?1316490955
	http://localhost/~cristian/hci/stylesheets/default.css?1316490955
*/

/**
	text-color: 		#592C2B
	link-color:			#301817
	border-color: 		#61634F
	bg-color:			#F7E5C3
	primary-color:		#fff6e8

*/

/************  GLOBAL DEFINES **************/

*, input {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif!important;
}



body {
	background-color: #212121;
	text-align:center;
	color: black;
}

body a {;
	text-decoration: underline;
}

.clear {
	clear:both;
}

.clear-left {
	clear:left;
}

.clear-right {
	clear:right;
}

/************  PAGE STRUCTURE **************/
#main-container {
	background-color:white;
	text-align:left;
	margin: 0 auto;
	color: black;
}

#header a, #header a:hover,
#header a:active, #header a:visited {
	color: white;
}



#guide a, #guide a:hover,
#guide a:active, #guide a:visited,
#content a, #content a:hover,
#content a:active, #content a:visited {
	color: black;
}

#pre-footer {
	height: 100px;
	margin: 0 auto -100px;
	background: transparent url(../images/footer_gradient.png) repeat-x 0 top;
}

#container {
	padding: 0;
}
#header {
 	background: #0099f7 url(../images/top_gradient.png) repeat-x 0 bottom;
 	color: white;
}
#header a, #header a:visited, #header:a:hover {
	color: white!important;
}

#main-content{
	margin-bottom:10px;
}

#content, {
	margin-top: 10px;
	background-color:white;
}

#footer {
	text-align:left;
	color: #F7E5C3;
	margin: 15px auto;
	height: 100px;
	width:960px;
}

/************  HEADER **************/

#header .logo {
	padding: 20px 0;
}

#header .search {

}


#header .login, #header .logout{
	padding-top:10px;
	padding-bottom:10px;
}

.logout{
    height:28px;


}

#header .topbar {
    text-align:right;
    margin: 30px 0;
}

#ui-tooltip-0{
    width: 311px;
}
.login-form{
    height: 33px;

}

.login-form input{
    height: 28px;
    border: 1px solid silver;
}

.login-form input#pass{
    display: none;
}
#header .right {

}

#header .second_line {
	padding: 20px 0 10px;
}

#header .language-select{
	width: 147px;
}

#header .language-text{
	padding: 1px 5px 0;
	width: 141px;
	margin: 0 auto;
}

#header .localization {
	padding: 5px 0;
}

#header .localization span {
	float:left;
}

#header .localization ul li{
	float:left;
	padding: 0 5px;
}

#header .login-label,#header .logout welcome {
	text-align:right;
	padding: 6px 0;

}

#header .login input,#header .logout logout-link {
	border: 1px solid #C4BCA0;
	padding: 5px;
	width: 135px;

}

.logout .welcome, .logout .logout-link {
    text-align: right;
    margin-right:0;

}

.logout .logout-link {
    float:right;
}

#guide input.search {
	border: 1px solid silver;
	padding: 7px 5px 6px;
}

/************  COMMON **************/

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.box, .box_1, .box_2, .box_3, .box_4 {
	background:white;
	margin-top:10px;
}

.box {
	min-height: 60px;
}

.box_1 {
	min-height: 60px;
}

.box_2 {
	min-height:120px;
}

.box_3 {
	min-height:180px;
}

.box_4 {
	min-height:240px;
}

.box h3, .box_1 h3, .box_2 h3, .box_3 h3, .box_4 h3 {
	padding: 5px;
	border-bottom: 1px dashed #ddd;
	color: black;
}

.box p, .box_1 p, .box_2 p, .box_3 p, .box_4 p {
	margin: 0;
	padding: 5px;

}

/************  PRODUCT ITEM **************/

.product_list .title {
    margin-top:15px;
    float:left;
}



.product_list .filter {
    margin-top:15px;
    float:right;
}

.product_item {
    border: 1px solid #eee;
}

.product_item img {
	width: 	80px;
	height:	auto;
	margin: 5px 5px 5px 5px;
	float:right;
	display:block;

}
.product_item .attribute .label {
	font-weight: bold;
}



/************  PRODUCT SHOW **************/

.product_show {
    border: 1px solid #eee;
    padding: 5px
}

.product_show h2 {
    border-bottom: 1px dashed #eee;
}

.product_show img {
	width: 	310px;
	height:	auto;
	margin: 5px 5px 5px 5px;
	float:left;
	display:block;

}
.product_show .attribute .label {
	font-weight: bold;
}




/*************** FOOTER ***********/

#footer ul {
	margin-top: 10px;
}

#footer a {
	color: white;
}

#footer h3{
	color: white;
	text-shadow: 0 1px 0 black;
}

#footer a:hover {
	color: white;
	font-weight:bold;
}

#footer a:visited {
	color: silver;
	font-weight:bold;
}
#footer ul li {
	padding: 10px 0px;
	margin-left: 30px;
}

/*************** CART ***********/

#cart {
    border-left: 1px silver solid;
    height: 31px;
    padding: 0 0 0 10px;
}

#cart .text {
    float:right;
    margin: 7px 0 0 0;
    text-align:right;
}
#cart img {
    padding:7px 0 0 5px;
    float:right;
}


/******************* FORM ******************/ 


.form .form_item {
	margin: 5px auto;
	text-align:right;
	width: 400px;
	height: 30px;
}

.form .form_item .label {
	width: 33%;
	margin-top: 4px;
}

.form form {
    padding: 5px 0;
}

.form hr {
	border-top: 1px dashed #ccc;
	margin: 10px 0;
	height: 0px;
}

.form .form_item .form_text, .form .form_item .input {
	width: 65%;
}

.form .form_item .input, form .input {
    border: none;
	padding: 5px 5px;
}

.form .form_item .form_text{
	border: none;
	padding: 5px;
}

.form .form_item .form_button {
	margin: 5px;
}

/******************* CATEGORIES SIDEBAR ******************/ 

#categories-sidebar p {
	padding: 0;
	margin: 0;
}

#categories-sidebar a {

}

#categories-sidebar ul li {
	margin: 0;
	padding: 10px;
}

#categories-sidebar ul ul {
    display:none;
    margin-left: 10px;
}

#categories-sidebar li a.selected {
    font-weight:bold;
}


/******************* Guide               ******************/ 

#search{
    padding:0 5px;
    width:290px;
}

#search .search {
    width:293px;
}

#guide {
	z-index: 1000;
	
}

#guide-bottom {
	height: 10px;
	background: transparent url(../images/guide_gradient.png) repeat-x scroll 0 0;	
}
#guide .container_12 {
	padding: 5px 0;
	background: white;
}

#guide-inner  {
	margin: 0 auto;
	background-color: #063d66;
}


/******************* LOADER               ******************/ 

.loading {
	min-height: 500px;
	background: transparent url('../images/ajax-loader.gif') no-repeat center center;
}