.container_9
  .prefix_1.grid_7.alpha
    .box
      %h3
        Ingreso
      %p 
        %form.form{:action => "/", :method => "post"}
          %ul
            %li
              .form_item
                %span.label Username:
                %span.input
                  %input.form_text{:type => "text"}
            %li
              .form_item
                %span.label Password:
                %span.input
                  %input.form_text{:type => "text"}
            %li
              .form_item
                %span.label Confirm Password:
                %span.input
                  %input.form_text{:type => "text"}
            %hr
            %li
              .form_item
                %span.label First Name:
                %span.input
                  %input.form_text{:type => "text"}
            %li
              .form_item
                %span.label Last Name:
                %span.input
                  %input.form_text{:type => "text"}
            %li
              .form_item
                %span.label E-mail:
                %span.input
                  %input.form_text{:type => "text"}
            %li
              .form_item
                %span.label Birth Date:
                %span.input
                  %input.form_text{:type => "text"}
            %hr
            %li
              .form_item
                %span.checkbox 
                  %span.label 
                    Acepto los TOS
                  %input{:type => "checkbox"}
                %span.input.prefix_1
                  %input.form_button{:type => "submit", :value => "Confirmar Registro"}
          .clear
  .prefix_1.omga
.clear