%h1.logo.grid_3
  Quick-E-Mart
.login.prefix_4.grid_5
  .login-label.grid_1
    Ingreso:
  %form.login-form{:action => "/", :method => "post"}
    %input{ :type => :text, :value => "Usuario"}
    %input{ :type => :text, :value => "Contraseña"}    
.clear
.second_line
  .search.prefix_3.grid_5
    %form.search-form{:action => "/", :method => "post"}
      %input{ :type => :text, :value => "Búsqueda rápida"}
  .localization.grid_4
    %span.language-text Seleccione su Idioma:
    %ul
      %li.selectable English
      %li -
      %li.selectable Español
  .clear
.clear